<table align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/ssamsonau/test_colab/blob/master/test.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
</table>

In [6]:
import pandas as pd

In [7]:
data = [['a', 1], ['b', 2], ['c', 3]] 
df = pd.DataFrame(data, columns = ['letter', 'number']) 

df

  letter  number
0      a       1
1      b       2
2      c       3